.library-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}   
#book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.book-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33% - 30px);
    box-sizing: border-box;
    flex: 1
}
 
.new-book-button {
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}